@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-SHOP</h1>
    <p class="lead">E-Shop Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, tenetur.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aut iste, quo temporibus tempore quidem officia? Ut vel amet quisquam? 
            Consectetur eius ipsa amet optio deserunt libero dolore unde sed molestiae vero, 
            officia quidem neque est ullam reprehenderit aperiam. Ducimus et at autem incidunt
            a sunt quisquam alias animi explicabo corporis?
        </p>
        <p>
            @Html.ActionLink("Learn more", "ProduitItems", "Produit", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Product</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aut iste, quo temporibus tempore quidem officia? Ut vel amet quisquam? .
        </p>
        <p>
            @Html.ActionLink("Learn more", "ProduitItems", "Produit", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hosting products</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aut iste, quo temporibus tempore quidem officia? Ut vel amet quisquam?
        </p>
        <p>
            @Html.ActionLink("Learn more", "ProduitItems", "Produit", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>